<section id="page1" class="page border  min-vh-100 text-center" >
  <img src="images/img_1.jpg " alt="Image of Annie n nani" class="img vh-100" alt="Responsive image">
</section>
<section id="page2" class="page container-fluid min-vh-100">
  <div class="d-flex flex-row  text-center flex-wrap">
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1 ">
      May today be the beginning of a new tomorrow that you will cherish forever.
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      Wishing you a lifetime of wedded bliss.
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      Your love,
      Annie n nani
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      May your special union bring unbelievable joy to your life.
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      Wishing you nothing but a lifetime of love.
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      May this day be the start of forever for you two.
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      May your love burn brighter every day as you grow in love.
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      Wishing you a lifetime of love.
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      Always remember this special day and why you’re saying, “I do.”
    </div>
    <div class="col-12 col-lg-4 p-3 bg-primary mt-1">
      Wishing you joy, love and happiness on your wedding day and as you begin your new life together. 
    </div>
  </div>
</section>