* {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100%;
  width: 100%;
  background: rgb(173, 74, 74);
  background: linear-gradient(180deg,
      rgb(207, 82, 82) 14%,
      rgba(233, 53, 218, 0.807) 98%,
      rgba(207, 82, 82, 0.877) 14%,
      rgba(233, 53, 218, 0.807) 98%);
}

#page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

#page1>.content>img {
  min-height: 100%;
  max-width: 99vw;
  max-height: 100vh;
  object-fit: cover;
  z-index: 2;
}.title{
  // background-color: rgba(0, 247, 255, 0.329);
  position: absolute;
  font-size: 4rem;
  z-index: 3;
  color: rgba(255, 217, 0, 0.712);

  #heart{
    color: red;
  }
}
#page1 > .content::before {
  content: '';
  position: absolute;
  top: 20%;
  inset: 0;
  // background-image: url('img_1_blur.jpg');
  background-image: url('img_1.jpg');
  filter: blur(5px);
  background-size: 190%;
  background-position: 50% 30%;
  // background-size: cover;
  // background-position: 50% 25%;
  background-repeat: none;
  z-index: 1;

  mask-image: url('ink_gif.gif');
  mask-size: cover;
  mask-position: center;

  // // opacity: 0.29;
  // // mask-image: url(https://th.bing.com/th?id=OIP.uiRw3v3Lwy4FFtPP5uIhHAHaFD&w=302&h=206&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
  // // mask-size: cover;
  // // mask-position: center;

  // transition: all 7s ease !important;
}



#page2>.all-wishes>.wish {
  border-bottom: 2px solid rgb(217, 255, 0);
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;

  background-image: linear-gradient(to bottom, #e935da, #ec34c2, #ea38ac, #e53f99, #d8377f, #d8377f, #d8377f, #e0458c, #e93ba0, #ef32b8, #ef2fd3, #e935f1);

  // background-image: linear-gradient(to bottom, #e935da, #ec34c2, #ea38ac, #e53f99, #d8377f, #eea8c7, rgb(228 132 175), #f08fbb, #e93ba0, #ef32b8, #ef2fd3, #e935f1);
  color: rgb(0, 0, 0);
  // text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.wish {
  font-family: Laura Worthington;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#page3 {
  background-color: rgba(0, 0, 0, 0.507);
}

.mosaic-grid {
  display: grid;

  &>.grid_item {
    height: 20%;
  }
}