<div class="container-fluid main-container">

  <section id="page1" class="page  min-vh-100 text-center">
    <div class="content">
      <div class="title">
        Annie<div id="heart" >❤</div>Saheb
      </div>
      <img src="images/img_1.jpg" alt="Image of Annie n nani" class="img" alt="Responsive image">
    </div>
  </section>

  <section id="page2" class="container-fluid page p-1">
    <div class="d-flex flex-row all-wishes flex-wrap">
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish ">
        <blockquote>May today be the beginning of a new tomorrow that you will cherish forever.</blockquote>
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Wishing you a lifetime of wedded bliss.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Your love,
        Annie n nani
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        May your special union bring unbelievable joy to your life.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Wishing you nothing but a lifetime of love.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        May this day be the start of forever for you two.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        May your love burn brighter every day as you grow in love.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Wishing you a lifetime of love.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Always remember this special day and why you’re saying, “I do.”
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Wishing you joy, love and happiness on your wedding day and as you begin your new life together.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Wishing you a lifetime of wedded bliss.
      </div>
      <div
        class="col-12 col-lg-4 vh-100 fs-1 border-lg-none text-center d-flex align-items-center justify-content-center p-3  mt-1 wish">
        Your love,
        Annie n nani
      </div>
    </div>
  </section>

  <section id="page3" class="contaier-fluid page min-vh-100">
    <div class="mosaic-grid">
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
      <div class="grid_item"></div>
    </div>
  </section>
</div>